<div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let data of info | paginate:{itemsPerPage:4,currentPage:p}" style="width:90%; height:25%">
  
        <div class="card mb-4 shadow-sm h-md-250">
  
          <div class="card-body d-flex flex-column align-items-start">
             <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="src/app/category/Penguins.jpg" style="width: 250px; height: 125px;">
  
            <strong class="d-inline-block mb-2 text-primary">{{data.adId}}</strong>
  
            <h6 class="mb-0">
  
              <a class="text-dark" href="#">{{data.location}}</a>
  
            </h6>
  
            <div class="mb-1 text-muted small">{{data.uploadDate}}</div>
  
            <p class="card-text mb-auto">{{data.description}}</p>
            <p class="card-text mb-auto">{{data.price}}</p>
  
            <a class="btn btn-outline-primary btn-sm" role="button" (click)=details(data)>Continue
  reading</a>
  
          </div>
        </div>
  
      </div>
    </div>
<div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
  </div>